.block__estate {
    background-color: rgb(255, 255, 255);
    margin: 0 0 100px 0;
}

.yandex__map {
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.4);
    margin-top: 50px;
    padding: 20px;
}

.card {
    flex-grow: 2;
    margin-top: 50px;
}
.estate {
    margin-left: 20px;
}

.estate h1 {
    text-align: center;
    margin-top: 5px;
}

.expand {
    display: none;
}

@media screen and (max-width: 900px) {
.block__estate {
    align-items: center;
}
}