.block__about__project {
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 249, 250);
    margin-top: 0;
    margin-bottom: 0;
    transition: background-color 0.5s;
}

.block__about__project:hover {
    background-color: rgb(241, 241, 241);
}


.card__project {
    display: block;
    float: left;
    margin: 0;
}

.card__project img {
    padding: 0 25px 10px 0;
    float: left;
}

.block__reseach {
    display: flex;
    margin: 20px 10px 50px 10px;
    align-items: stretch;

}
.card__project p {
    text-indent: 0;
}

.card_reseach {
    align-items: center;
    width: 300px;
    padding: 0;
    margin: 0 20px;
    background-color: white;
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.4), -2px -2px 4px 0 rgba(0, 0, 0, 0.4);
}
.card_reseach h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.card_reseach p {
    font-size: 14px;
    padding-bottom: 10px;
}

b {
    color: #007545;
    text-shadow:  2px 1px 1px 0 rgba(0, 0, 0, 0.5);
}

#direction_reseach {
    font-size: 30px;
}

.mark {
    box-shadow:  2px 2px 2px 0 rgba(0, 0, 0, 0.4), -2px -2px 2px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(-20px);
}

@media screen and (max-width: 1100px) {
    .card_reseach {
    margin: 0 10px;
    }
}

@media screen and (max-width: 900px) {
    .mark {
        width: 300px;
        height: auto;
    }
    .card_reseach {
        margin-bottom: 30px;
        width: 350px;
        }

}