.block__gallery {
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.foto_row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.foto {
    padding: 0 20px;
}

@media screen and (max-width: 900px) {
    .foto_row {
        flex-wrap: wrap;
    }
    .foto {
        padding: 20px;
    }
}