
.bannerMap {
    background-color: #f8f9fa;
    margin: 50px 0;
}                                   

.map_mill {
    position: relative;
    width: 100%;
    display: block;
}

.full__map {
    position: relative;
    transition: height 300ms linear;
    overflow: hidden;
    display: block;
    width: 100%;
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.4);
    will-change: height;
}

.full__map.open__map > img {
    transform: scale(1);
    padding-left: 0;
    padding-top: 0;
    height: 470px;
}

.full__map > img {
    transition: transform 800ms ease-in-out,
        padding-top 800ms linear,
        padding-left 800ms ease-in-out,
        height 800ms linear;
    transform: scale(1.9);
    will-change: transform, padding-left;
    display: block;
    object-fit: cover;
    height: 300px;
    padding-top: 90px;
}

.map_mill a {
    text-decoration: none;
}

.expand__map {
    position: absolute;
    bottom: -50px;
    left: 50%;
    width: 180px;
    transform: translate(-50%, -10%);
    z-index: 1;
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.expand__map:hover+div {
    display: block;
}

.expand__map a p {
    padding-left: 4px;
}

.expand__map i {
    transition: transform 300ms ease-in-out;
}

.expand__map i.arrow-up {
    transform: rotate(180deg);
}

.btn.expand__map, button {
    cursor: pointer;
}


.imgMill {
    position: relative;
    width: 60px;
    left: 48%;
    bottom: -50px;
    margin-bottom: 50px;
    margin-right: 10px;
}


.block__mill {
    background-color: rgb(255, 255, 255);
    margin: 0 0 100px 0;
}

.mills h1 {
    text-align: center;
}

.slider {
    width: 100%;
    margin: 10px auto;
    position: relative;
    text-align: center;
    top: 50px;
}

.slides {
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.slide.active {
    display: block;

}

.slide>img {
    border: 2px groove white;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.4);
} 

.buttons {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    top: 290px;
    font-size: 3em;
    font-weight: 200;
}

#prev, #next {
    width: 30px;
    height: 30px;
}

#prev>i, #next>i {
    color: white;
} 

button {
    border-radius: 50%;
    border-color: rgba(0, 92, 54, 0.3);
    background:  rgb(0, 117, 69);
    outline: none;
}


@media  screen and (max-width: 900px) {
    .slide.active {
        position: relative;
        display: block;
    }
}

@media screen and (max-width: 750px) {
    .expand__map {
        width: 100px;
        left: 40vw;
    }
}

@media screen and (max-width: 500px) {
    #expand-map-button {
        left: 33vw;
    }
}


