
.header {
    position: relative;
    width: 98vw;
    height: 60vh;
    background-image: url('../img/header-img.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: -50px;
    background-color: #f8f9fa;
    margin-top: 50px;
    margin-right: 4em;
    padding-left: 3em;
    padding-top: 4%;
    transition: height .2s linear;
    z-index: -1;
}

.header h1 {
font-family: 'Philosopher';
}

.title {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 75%;
    z-index: -1;
}

.title::before {
    content: "Проект: Открываем страницы истории";
    font-family: 'Philosopher';
    font-size: 18pt;
    font-weight: 100;
    font-style: italic;
    color: rgba(51, 51, 51, 0.7);
    z-index: -1;
}

.header h1:nth-of-type() {
    display: inline-block;
}
.projectTitle {
   font-weight: 100;
   font-style: italic;
   color: rgba(51, 51, 51, 0.7)
}

.MainTitle {
    font-size: 60px;
    font-weight: 100;
    color: rgba(40, 40, 40);
    width: 50vw;
    text-shadow: 4px 2px 6px rgba(61, 61, 61, 0.7);
}
.header h2 {
    font-family: 'Comfortaa';
    font-size: 50px;
    color: #007545
}


@media screen and (max-width: 1100px) {
    .header {
        height: 450px;
        background-size: contain;
        padding-left: 0;
        padding-top: 1px;
    }
    .MainTitle {
        font-size: 32pt;
        width: 60vw;
        padding: 0;
        margin: 1px 0;
    }
    .header h2 {
        font-size: 35px;
        width: 45vw;
    }
}



@media screen and (max-width: 750px) {
    .header {
        height: 360px;
        background-size: contain;
        background-position-y: 30px;
        padding-left: 0;
        padding-top: 1px;
    }
    .MainTitle {
        font-size: 18pt;
        width: 100%;
        padding: 0;
        margin: 1px 0;
    }
    .title::before {
        font-size: 14pt;
        width: 100%;
        padding: 2px 0;
        margin: 1px 0;
    }
    .header h2 {
        font-size: 20pt;
        width: 20vw;
    }
}

@media screen and (max-width: 500px) {
    .header {
        height: 260px;
        background-position-x: -20px;
    }
    .MainTitle {
        font-size: 14pt;
        width: 55vw;
    }
    .title::before {
        font-size: 10pt;
        width: 100vw;
        margin-top: 2px;
    }
    .header h2 {
        font-size: 16pt;
    }
}
