@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=PT+Serif&family=Philosopher&display=swap');
@import "style.css";
@import "navbar.css";
@import "header.css";
@import "styleHeaderPages.css";
@import "footer.css";

span, #map_text {
    font-size: 12px;
    font-style: italic;
}

#map_text {
    display: block;
    width: 20vw;
    float: right;
    right: 0;
    padding-left: 30px;
}

.about__mill {
    float: right;
}

.about__mill #map_4 {
    padding: 10px 0 10px 25px;
    float: right;
}


.slides {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0;
}
.slide {
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
}

.text_WaterMill_right {
    float: right;
}

.text_WaterMill_right img {
    float: right;
    margin-left: 10px;
}

.text_WaterMill_left {
    float: left;
}

.text_WaterMill_left img {
    float: left;
}

#link {
    font-style: italic;
}

.text_WaterMill_left {
    margin-bottom: 50px;
}

@media screen and (max-width: 900px) {

    .container {
        margin: 40px 20px 0 20px;
    }
    .slides {
        flex-direction: column;
        justify-content: none;
        align-items: center;
    }
    .slide {
        margin: 10px 0;
    }
}
