.block {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 50px 0;
    z-index: 2;
}

h1 {
    font-size: 40px;
}


.image {
    transition: transform 0.3s linear; 
}

.image:hover {
    transform: scale(1.05);
   }


.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin-left: 10px;
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.card h1 {
    font-size: 40px;
}
.card h2 {
    text-align: center;
}

.btn {
    font-family: 'Comfortaa';
    width: 150px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    align-self: center;
    color: white;
    background-color: #007545;
    padding: 10px;
    margin: 15px;
}

.btn:hover {
    box-shadow:  2px 4px 2px 0 rgba(0, 0, 0, 0.4);
    background: radial-gradient(ellipse,  #007545,  #004126);
}

p {
    padding: 0 20px;
}

.text__right {
    float: right; 
}

.text__right > img {
    float: right;
    margin-left: 20px;
    margin-right: 25px;
}


.text__right .img__text {
    float: right;
    margin-left: 20px;
    margin-right: 25px;
}

.text__left {
    float: left;
}

.text__left img {
    float: left;
    margin-right: 20px;
    margin-left: 25px;
}

@media screen and (max-width: 900px) {
    .block {
        flex-direction: column;
    }
}

