@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=PT+Serif&family=Philosopher&display=swap');
@import "style.css";
@import "navbar.css";
@import "header.css";
@import "styleHeaderPages.css";
@import "footer.css";

img {
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.Hajfa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.last_paragraph {
    margin-bottom: 100px;
}

.block__image {
    position: relative;
}

.title__image {
    position: absolute;
    font-size: 10px;
    left: 0;
    bottom: 20px;
    background-color: rgb(248, 239, 222);
    padding: 1px 3px;
}