@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=PT+Serif&family=Philosopher&display=swap');
@import "style.css";
@import "navbar.css";
@import "header.css";
@import "block_estate.css";
@import "block_mill.css";
@import "block_family.css";
@import "block_brothers.css";
@import "block_manya.css";


body {
    font-family: 'PT Serif';
    overflow-x: hidden;
}

h1 {
    font-family: 'Philosopher';
}

h2 {
    font-family: 'Comfortaa';
}

.container {
    margin: 0;
    padding: 0 40px 0 40px;
    background-color: white;
    z-index: 1;
}

p {
    text-align: justify;
    text-indent: 3%;
    margin: 4px;
    font-size: 18px;
}

#sam {
    transform: translateY(50px);
}


@media screen and (max-width: 900px) {
    .block__mill {
        flex-direction: column;
    }
}


@media screen and (max-width: 500px) {
    .container {
        margin-top: 40px;   
    }
}


