@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=PT+Serif&family=Philosopher&display=swap');
@import "style.css";
@import "navbar.css";
@import "header.css";

.header h1 {
    font-size: 40px;
    color: rgb(59, 58, 58)
}

.header h2 {
    font-size: 40px;
    padding-top: 300px;
    color: #007545
}

body {
    font-family: 'PT Serif';
}

.content {
    background-color: white;
    margin: 40px;
}

.MillTitle {
    font-family: 'Philosopher';
    font-size: 40px;
    font-weight: 100;
    color: rgba(40, 40, 40);
    width: 100%;
    text-shadow: 4px 2px 6px rgba(61, 61, 61, 0.7);
}

.content h2 {
    font-family: 'Comfortaa';
    font-size: 30px;
}

p {
    text-align: justify;
    text-indent: 3%;
    margin: 4px;
}

.container {
    margin: 40px 40px 0 40px;
    z-index: 1;
}

.content {
    background-color: white;
    z-index: 1;
}


.header {
    height: 500px;
    background-image: url('../img/Header-img-2.jpg');
    background-size: contain;
    background-position-y: 45px;
}
.titleMain {
    position: fixed;
    margin-top: -30px;
    padding: 0;
    width: 100%;
    z-index: -1;
}

.titleMain::before {
    content: "Проект: Открываем страницы истории";
    font-family: 'Philosopher';
    text-shadow: 1px 1px 2px  beige;
    font-size: 14pt;
    font-weight: 100;
    font-style: italic;
    color: rgba(51, 51, 51, 0.7)
}

span, #map_text {
    font-size: 12px;
    font-style: italic;
}

#map_text {
    display: block;
    width: 20vw;
    float: right;
    right: 0;
    padding-left: 30px;
}

.about__mill {
    float: right;
}

.about__mill #map_4 {
    padding: 10px 0 10px 25px;
    float: right;
}


.slides {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.slide {
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.4);
}

.text_WaterMill_right {
    float: right;
}

.text_WaterMill_right img {
    float: right;
    margin-left: 10px;
}

.text_WaterMill_left {
    float: left;
}

.text_WaterMill_left img {
    float: left;
}

#link {
    font-style: italic;
}

.text_WaterMill_left {
    margin-bottom: 50px;
}

@media screen and (max-width: 900px) {

    .container {
        margin: 40px 20px 0 20px;
    }
    .slides {
        flex-direction: column;
        justify-content: none;
        align-items: center;
    }
    .slide {
        margin: 10px 0;
    }
}
